1_st_course/homework/hw1/2_task_check.csv
1_st_course/homework/hw1/data_3_course.xlsx
1_st_course/homework/hw1/data_4_course.xlsx
1_st_course/homework/hw1/end_seminar.xlsx
1_st_course/homework/hw1/rating_by_day.pdf
1_st_course/homework/hw2/sample_submission.csv
1_st_course/homework/hw2/test.csv
1_st_course/homework/hw2/train.csv
1_st_course/sem/train_sem2.csv
1_st_course/sem/sem1/_ml_students_anon.xlsx
1_st_course/sem/sem1/data_3_course (1).xlsx
1_st_course/sem/sem1/data_3_course.xlsx
1_st_course/sem/sem1/data_4_course (1).xlsx
1_st_course/sem/sem1/data_4_course.xlsx
1_st_course/sem/sem1/end_seminar.xlsx
1_st_course/sem/sem1/image (1).jpg
1_st_course/sem/sem1/image.jpg
1_st_course/sem/sem1/ml_students_anon (1).xlsx
1_st_course/sem/sem1/ml_students_anon.xlsx
1_st_course/sem/sem2/cat.png
1_st_course/sem/sem2/train_sem2.csv
